.giftime{
    background-image: url('https://64.media.tumblr.com/b9a9eced348b19efa6f8a2adbf094127/ceca5a517d4ecdfe-4a/s540x810/61e82908511e82a3c5b1d7cf717fe57bd43437dd.gifv');
    
    
    background-size: 100%;
    animation: yoooo 15s infinite;
}

.secondgif{
    background-image: url('https://media.tenor.com/8ZDLU43omvcAAAAC/kid-thumbs-up.gif');
    
    animation: yoooo 15s infinite;
}

.justapic{
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/11/19/asus-cyberpunk-wallpaper.jpg');
    /* background-size: 100%; */
}